:root{
  --p:10px;
  --c1: #eee;  /* screen only */
  --c2: #222;  /* screen only */
  --vivid: #0DB082;
  --width:1200px;
  --optionbg:#333;
  --font:18px/1.3 "Victor Mono", monospace;
  --smallFont:.8em;
}
body{
  padding:10px;
  font:var(--font);
  letter-spacing: .08em;
  color: var(--c1);
  font-weight: 440;
  background: var(--c2) ;
}
main{
  width:min(100%, var(--width));
  margin:0 auto;
}

.line{
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.line.option{
  background: var(--optionbg);
  position: relative;
  margin-top: calc(var(--p) * 3) !important;
}
.line.option::before{
  content: "option";
  top: -1.3em;
  left: 0;
  position: absolute;
  background: var(--optionbg);
  text-transform: uppercase;
  font-size: var(--smallFont);
  letter-spacing: .3em;
  padding: 0 0 .1em 0;
}

/* Forms */
form{
  padding:var(--p);
  border:1px solid #555;
  margin-bottom: var(--p);
}
form input:not([type="checkbox"]), form textarea{
  height: 2em;
  padding: 5px;
  font: inherit;
  border-width:0 0 2px 0;
  border-color:var(--vivid);
  color: inherit;
  background:transparent;
}
form input:not([type="checkbox"]):focus, form textarea:focus {
  outline: 0;
  background: #111;
}

button,.button{
  background: var(--vivid);
  border-radius: 100px;
  color: var(--c2);
  border:0;
  padding:5px 20px;
  margin-right: var(--p);
  text-decoration: none;
  letter-spacing: 1px;
  transition: all .2s ease;
  cursor: pointer;
}
button:hover,.button:hover{
  background: #a6f0db;
}
button:active,.button:active{
  background: #73c4ad;
}
input, button, .button, select{
  font-size:inherit;
}
.line{
  margin-bottom:var(--p);
}
label{
  display: block;
  margin:var(--p) 0;
}
#bill-details > .line:not(.total){
  margin-top: var(--p);
  border-bottom: 1px solid  var(--c1);
}
a{
  color: inherit;
  text-decoration: none;
}
body>header, body>footer{
  /* display: none!important; */
  width:min(100%, var(--width));
  margin: var(--p) auto;
  padding: 0 0 calc(var(--p)/2) 0;
}
body>footer{
  font-size:  var(--smallFont);
  margin-bottom: 0;
  line-height: 1.3em;
}
.bank-details{
  border-left:1px solid  var(--c1);
  margin: 0 0 var(--p) 0;
  padding-left:var(--p);
}
.footer-infos{
  padding-top: calc(var(--p) / 2);
  border-top:1px solid var(--c1);
}
#bill-custom-text{
  border:2px dotted var(--c1);
  font-size: var(--smallFont);
  line-height: 1.3;
}
.vat-line{
  text-align: right;
  font-style: italic;
}
.total span{
  width: 12.5%;
  text-align: right;
}
.total span:nth-child(1){
  width: 100%;
}
.edit-total{
  justify-content: right;
}

/* box mini-framework */
.b-c{
  display: flex;
  flex-wrap: wrap;
}
.b-1-1{width:100%;}
.b-1-2{width:calc(100% / 2);}
.b-1-2:nth-child(1){padding-right: var(--p);}
/* .b-1-2:nth-child(2){padding-left: var(--p);} */
.b-1-3{width:calc(100% / 3);}
.b-2-3{width:calc(100% / 3 * 2);}
.b-1-4{width:calc(100% / 4 * 1);}
.b-3-4{width:calc(100% / 4 * 3);}
.b-1-5{width:calc(100% / 5 * 1);}
.b-2-5{width:calc(100% / 5 * 2);}
.b-3-5{width:calc(100% / 5 * 3);}
.b-4-5{width:calc(100% / 5 * 4);}
.b-1-6{width:calc(100% / 6 * 1);}
.b-2-6{width:calc(100% / 6 * 2);}
.b-3-6{width:calc(100% / 6 * 3);}
.b-4-6{width:calc(100% / 6 * 4);}
.b-5-6{width:calc(100% / 6 * 5);}
.b-1-8{width:calc(100% / 8 * 1);}
.b-2-8{width:calc(100% / 8 * 2);}
.b-3-8{width:calc(100% / 8 * 3);}
.b-4-8{width:calc(100% / 8 * 4);}
.b-5-8{width:calc(100% / 8 * 5);}
.b-6-8{width:calc(100% / 8 * 6);}
.b-7-8{width:calc(100% / 8 * 7);}
.a-right{text-align: right; justify-content: flex-end;}
[data-lang="fr"] .en, [data-lang="en"] .fr{display: none;}
i{font-style:italic;}

@media print {
  :root{
    --c1:DarkSlateGray;
    --font:16px/1.3em "Victor Mono", monospace;
    --optionbg:#eee;
  }
  body{
    font-size: 9pt;
    background: none;
    color: var(--c1);
  }
  main{
    /*put footer at bottom of pag*/
    min-height: 83vh;
    align-content:flex-start; 
  }
  @page{
    margin:0.2cm .7cm;
  }
  form, button, details, .noprint{
    display: none;
  }
  body > header{
    border-bottom:1px solid var(--c1);
  }
  .toprint{
    /* display: flex; */
  }
  #client-details {
    margin:5vh 0 5vh 0;
  }
  #bill-details header{
    margin-bottom: calc(var(--p) * 3) ;
  }
  #bill-custom-text{
    border:none;
  }
  footer{
    display: flex;
    page-break-inside: avoid;
  }
}