@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-Italic.woff2') format('woff2'),
        url('VictorMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-MediumItalic.woff2') format('woff2'),
        url('VictorMono-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-BoldItalic.woff2') format('woff2'),
        url('VictorMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-Medium.woff2') format('woff2'),
        url('VictorMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-Bold.woff2') format('woff2'),
        url('VictorMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-Regular.woff2') format('woff2'),
        url('VictorMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

